<p id="notice"><%= notice %></p>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Name: <%= @user.name %></li>
</ul>

<h3>送貨資訊</h3>
<ul>
  <li>111</li>
  <li>222</li>
</ul>

<%= link_to '編輯', edit_user_path(@user.id) %>
